openapi: 3.2.0
info:
  title: ClosedLoop AI Public Integrations API
  version: 1.8.0
  x-logo:
    url: https://app.closedloop.sh/favicon.svg
    altText: ClosedLoop AI
  description: '# ClosedLoop AI Public API


    Programmatic access to your team''s **product insights**, the structured intelligence

    ClosedLoop AI extracts from customer conversations (Gong, Fireflies, Slack, …) and

    structured feedback (surveys, webhooks).'
  contact:
    name: ClosedLoop AI Support
    email: support@closedloop.sh
    url: https://closedloop.sh
  license:
    name: Proprietary (ClosedLoop Labs LLC)
    url: https://closedloop.sh/terms
servers:
- url: https://api.closedloop.sh/v1
  description: United States (production)
- url: https://eu.api.closedloop.sh/v1
  description: European Union (production)
security:
- ApiKeyAuth: []
tags:
- name: Integrations
  description: Connected data sources for your team.
paths:
  /integrations:
    get:
      tags:
      - Integrations
      summary: List integrations
      x-mint:
        metadata:
          description: List the data-source integrations connected to the current ClosedLoop AI team, including each integration's configuration and sync status.
      description: Connected data sources for your team and their sync status.
      responses:
        '200':
          description: Integration list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
        '503':
          $ref: '#/components/responses/AuthenticationUnavailable'
      operationId: getIntegrations
      x-operation-id-source: derived
  /integrations/{id}:
    get:
      tags:
      - Integrations
      summary: Get an integration
      x-mint:
        metadata:
          description: Get one connected data-source integration for the current ClosedLoop AI team, including its configuration, state, and synchronization status.
      parameters:
      - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Integration detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/AuthenticationUnavailable'
      operationId: getIntegrationsById
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
          description: User-safe message.
        code:
          type: string
          example: INVALID_API_KEY
        hint:
          type: string
          description: Optional next step.
    Integration:
      type: object
      required:
      - id
      - type
      - name
      - status
      properties:
        id:
          type: string
          format: uuid
          example: in7e6600-0000-4000-8000-000000000001
        type:
          type: string
          example: gong
        name:
          type: string
          example: Gong Production
        status:
          type: string
          enum:
          - active
          - inactive
          - error
          - pending
          example: active
        last_sync_at:
          type: string
          format: date-time
          example: '2026-06-10T10:00:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-01-01T00:00:00Z'
  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource UUID.
  responses:
    NotFound:
      description: Resource not found (or not in your team)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not found.
            code: NOT_FOUND
    AuthenticationUnavailable:
      description: API-key authentication infrastructure is temporarily unavailable
      headers:
        Retry-After:
          schema:
            type: integer
            example: 10
          description: Wait 10 seconds before retrying authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            authentication:
              summary: Authentication dependency failure
              value:
                error: API key authentication is temporarily unavailable. Please retry shortly.
                code: API_KEY_AUTH_UNAVAILABLE
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Team-scoped API key created in the app (Settings → API Keys).

        Sent as `X-API-Key: <key>` on every request. The header name `apikey`

        is also accepted as an alias.

        '
x-tagGroups:
- name: Prioritization
  tags:
  - Insights
  - Products
  - Themes
  - Features
- name: Customers & Context
  tags:
  - Customers
  - Context
  - Competitors
- name: Reporting
  tags:
  - Analytics
- name: Account
  tags:
  - Integrations
  - Usage
- name: Meta
  tags:
  - Meta
