openapi: 3.2.0
info:
  title: ClosedLoop AI Public Context API
  version: 1.8.0
  x-logo:
    url: https://app.closedloop.sh/favicon.svg
    altText: ClosedLoop AI
  description: '# ClosedLoop AI Public API


    Programmatic access to your team''s **product insights**, the structured intelligence

    ClosedLoop AI extracts from customer conversations (Gong, Fireflies, Slack, …) and

    structured feedback (surveys, webhooks).'
  contact:
    name: ClosedLoop AI Support
    email: support@closedloop.sh
    url: https://closedloop.sh
  license:
    name: Proprietary (ClosedLoop Labs LLC)
    url: https://closedloop.sh/terms
servers:
- url: https://api.closedloop.sh/v1
  description: United States (production)
- url: https://eu.api.closedloop.sh/v1
  description: European Union (production)
security:
- ApiKeyAuth: []
tags:
- name: Context
  description: '**Customer context**, the strategic intelligence behind your customers: churn

    reasons, competitive mentions, satisfaction, pricing perception and more, surfaced

    from conversations. This is the `/context` surface in the app. Each record resolves

    to a customer (`customer_id`), so it lines up with insights for the same customer.'
paths:
  /context:
    get:
      tags:
      - Context
      summary: List customer context
      x-mint:
        metadata:
          description: List strategic customer context such as churn reasons, competitor mentions, and satisfaction, filtered by customer, type, or date.
      description: 'Strategic intelligence records: churn reasons, competitive mentions, satisfaction

        and more. Filter by `type`, `customer_id`, or date range. Shares `customer_id` with

        insights, so you can line the two up for the same customer.'
      parameters:
      - name: type
        in: query
        schema:
          type: string
        description: 'Context type. Common values: churn_risk, churn_reason, competitor_mention, satisfaction, win_factor, expansion_opportunity, pricing_perception, decision_criteria, general_dislike, deal_blocker (30+ total).'
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter to context for one customer (same key as on insights).
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A page of context records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Context'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '503':
          $ref: '#/components/responses/AuthenticationUnavailable'
      operationId: getContext
      x-operation-id-source: derived
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 200
      description: Page size (max 200).
    DateFrom:
      name: date_from
      in: query
      schema:
        type: string
        format: date
        pattern: ^\d{4}-\d{2}-\d{2}$
      example: '2026-05-01'
      description: 'Inclusive start date, as a real calendar date in `YYYY-MM-DD`.

        Any other form is rejected with `400 VALIDATION_ERROR` - including

        `2026-5-1`, `2026/05/01`, `May 1, 2026`, a bare `2026`, a date-time, and

        impossible dates such as `2026-02-30`.

        '
    DateTo:
      name: date_to
      in: query
      schema:
        type: string
        format: date
        pattern: ^\d{4}-\d{2}-\d{2}$
      example: '2026-05-31'
      description: 'Inclusive end date, as a real calendar date in `YYYY-MM-DD`.

        Validated by the same rule as `date_from`.

        '
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Number of records to skip.
  schemas:
    Error:
      type: object
      required:
      - error
      - code
      properties:
        error:
          type: string
          description: User-safe message.
        code:
          type: string
          example: INVALID_API_KEY
        hint:
          type: string
          description: Optional next step.
    Pagination:
      type: object
      required:
      - total
      - limit
      - offset
      properties:
        total:
          type: integer
          description: Total matching records (full set, not the page).
          example: 508
        limit:
          type: integer
          example: 50
        offset:
          type: integer
          example: 0
    Context:
      type: object
      required:
      - id
      - type
      - content
      - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 51617100-0000-4000-8000-000000000001
        type:
          type: string
          example: churn_reason
          description: 'Context type: see the /context ''type'' filter for common values (30+).'
        content:
          type: string
          example: They're evaluating Competitor X because our reporting is too slow.
        customer_id:
          type:
          - string
          - 'null'
          format: uuid
          description: 'Resolved customer: same key as on insights; correlate the two by this.'
          example: c0ffee00-0000-4000-8000-000000000001
        customer_name:
          type: string
          example: Acme Co
        source:
          type: string
          example: gong_call_def456
        created_at:
          type: string
          format: date-time
          example: '2026-05-20T14:00:00Z'
  responses:
    AuthenticationUnavailable:
      description: API-key authentication infrastructure is temporarily unavailable
      headers:
        Retry-After:
          schema:
            type: integer
            example: 10
          description: Wait 10 seconds before retrying authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            authentication:
              summary: Authentication dependency failure
              value:
                error: API key authentication is temporarily unavailable. Please retry shortly.
                code: API_KEY_AUTH_UNAVAILABLE
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Team-scoped API key created in the app (Settings → API Keys).

        Sent as `X-API-Key: <key>` on every request. The header name `apikey`

        is also accepted as an alias.

        '
x-tagGroups:
- name: Prioritization
  tags:
  - Insights
  - Products
  - Themes
  - Features
- name: Customers & Context
  tags:
  - Customers
  - Context
  - Competitors
- name: Reporting
  tags:
  - Analytics
- name: Account
  tags:
  - Integrations
  - Usage
- name: Meta
  tags:
  - Meta
